@page
@model MetaX.Pages.Admin.User.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<div class="container float-start">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-left">Kullanıcı Yönetimi</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-auto col-12 mt-1">
            <input type="text" id="searchInput" class="form-control" placeholder="Kullanıcı Adı">
        </div>
        <div class="col-lg-auto col-12 mt-1">
            <input type="text" id="locationInput" class="form-control" placeholder="Kullanıcı Soyadı">
        </div>
        <div class="col-lg-auto col-12 mt-1">
            <input type="text" id="locationInput" class="form-control" placeholder="Kullanıcı Maili">
        </div>
        <div class="col-lg-auto col-12 mt-1">
            <input type="text" id="locationInput" class="form-control" placeholder="Kullanıcı Telefon Numarası">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-2 col-8">
            <a href="#" class="btn btn-primary w-100">
                <i class="fas fa-search"></i> Ara
            </a>
        </div>
        <div class="col-1 mt-2 mt-lg-0">
            <a href="#" class="btn btn-outline-dark">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Soyad</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Telefon Numarası</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.UserListing)
                    {
                        <tr>
                            <td>@user.UserID</td>
                            <td>@user.Name</td>
                            <td>@user.Surname</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>
                                <form method="post" asp-page-handler="Delete" asp-route-userId="@user.UserID" onsubmit="return confirmDelete(event);">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete(event) {
            event.preventDefault();

            Swal.fire({
                title: 'Are you sure?',
                text: 'You will not be able to recover this user!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.submit();
                }
            });
        }
    </script>
}
