@page
@model MetaX.Pages.Admin.Reservation.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<div class="container float-start">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-left">Reservasyon Yönetimi</h2>
        </div>
    </div>

    <div class="row mt-5">
        <form id="searchForm" method="get" class="w-100">
            <div class="row">
                <div class="col-3">
                    <input type="text" id="searchInput" class="form-control" placeholder="Kullancı Adı" name="UserName" value="@Model.UserName">
                </div>
                <div class="col-3">
                    <input type="text" id="eventInput" class="form-control" placeholder="Etkinlik Adı" name="EventName" value="@Model.EventName">
                </div>
                <div class="col-2 text-right d-flex align-items-center">
                    <select id="filterStatus" class="form-control" name="Status">
                        <option value="">Tum Durumlar</option>
                        <option value="Active" selected="@Model.IsStatusActive">Active</option>
                        <option value="Finished" selected="@Model.IsStatusFinished">Finished</option>
                    </select>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-search"></i> Ara
                    </button>
                </div>
                <div class="col-auto ">
                    <button type="button" onclick="clearInput()" class="btn btn-outline-dark">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <button id="hiddenSubmit" type="submit" style="display: none;"></button>
        </form>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Reservation ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Event Name</th>
                        <th scope="col">Reservation Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model.Reservations)
                    {
                        <tr>
                            <td>@reservation.ReservationID</td>
                            <td>@($"{reservation.User.Name} {reservation.User.Surname}")</td>
                            <td>@reservation.Event.Title</td>
                            <td>@reservation.ReservationDate.ToString("MM/dd/yyyy")</td>
                            <td>@(reservation.ReservationDate < DateTime.Today ? "Finished" : "Active")</td>
                            <td>
                                <form method="post" asp-page-handler="Delete" asp-route-reservationId="@reservation.ReservationID" onsubmit="return confirmDelete(event);">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>function confirmDelete(event) {
            event.preventDefault();

            Swal.fire({
                title: 'Are you sure?',
                text: 'You will not be able to recover this reservation!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.submit();
                }
            });
        }

        function clearInput() {
            document.getElementById('searchInput').value = '';
            document.getElementById('eventInput').value = '';
            document.getElementById('filterStatus').value = '';
            document.getElementById('hiddenSubmit').click();
        }</script>
}
