@page
@model MetaX.Pages.Reservations.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center"
         style="background-image: url('')">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Rezervasyonlarım</h2>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/User">Home</a></li>
                <li>Rezervasyonlarım</li>
            </ol>
        </div>
    </nav>
</div>
<!-- End Breadcrumbs -->

<div class="container position-relative my-5">
    <h2>Aktif Rezervasyonlarım</h2>
    @if (Model.Reservations.Count == 0)
    {
        <div class="alert alert-danger my-4" role="alert">
            Herhangi bir aktif rezervasyonunuz bulunmamaktadır.
        </div>
    }
    @foreach (var reservation in Model.Reservations.Where(r => r.Event.Date.Date >= DateTime.Today))
    {
        <div class="container border border-1 rounded-4 my-5">
            <div class="row">
                <div class="col-4">
                    <img src="@reservation.Event.Image" class="rounded-start-4" style="width: 100%; height: 250px; object-fit: cover;" alt="...">
                </div>
                <div class="col-6">
                    <a asp-page="/EventDetails" asp-route-id="@reservation.Event.EventID">
                        <h3 class="card-title mt-4">@reservation.Event.Title</h3>
                    </a>
                    <div class="mb-2">
                        <i class="text-dark">@reservation.Event.Category</i>
                    </div>
                    <p>@(reservation.Event.Description.Length > 200 ? reservation.Event.Description.Substring(0, 200) : reservation.Event.Description) ...</p>
                    <h3 style="color:#008374;">₺ @reservation.Event.Price</h3>
                </div>
                <div class="col-2 text-dark bg-light rounded-end-4 text-center">
                    <h5 class="mt-5">Etkinlik Tarihi</h5>
                    <div class="">
                        <p>@reservation.Event.Date.ToString("dd-MM-yyyy")</p>
                    </div>
                    <div class="mt-5 mb-2">
                        <form method="post" class="d-inline" asp-page-handler="Delete" asp-route-reservationID="@reservation.ReservationID" onsubmit="return confirmDelete(event);">
                            <button type="submit" class="btn btn-lg btn-danger">İptal et</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div class="container position-relative mb-5">
    <h2>Geçmiş Rezervasyonlarım</h2>
    @if (!Model.Reservations.Any(r => r.Event.Date.Date < DateTime.Today))
    {
        <div class="alert alert-danger my-4" role="alert">
            Herhangi bir geçmiş rezervasyonunuz bulunmamaktadır.
        </div>
    }
    else
    {
        @foreach (var reservation in Model.Reservations.Where(r => r.Event.Date.Date < DateTime.Today))
        {
            <div class="container border border-1 rounded-4 my-5">
                <div class="row">
                    <div class="col-3">
                        <img src="@reservation.Event.Image" class="rounded-start-4 img-fluid" alt="...">
                    </div>
                    <div class="col-6">
                        <h3 class="card-title mt-4">@reservation.Event.Title</h3>
                        <i>@reservation.Event.Category</i>
                        <p>@(reservation.Event.Description.Length > 200 ? reservation.Event.Description.Substring(0, 200) : reservation.Event.Description) ...</p>
                        <i>@reservation.Event.Price $</i>
                    </div>
                    <div class="col-3 text-dark bg-dark-subtle rounded-end-4 text-center">
                        <br />
                        <br />
                        <h5 class="mt-4">Etkinlik Tarihi</h5>
                        <div class="">
                            <p>@reservation.Event.Date.ToString("dd-MM-yyyy")</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>function confirmDelete(event) {
        event.preventDefault();

        Swal.fire({
            title: 'Silmek istediğinizden emin misiniz?',
            text: 'Bu işlemi daha sonra tekrar geri alamayacaksınız.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Evet, eminim!',
            cancelButtonText: 'Hayır, vazgeçtim!'
        }).then((result) => {
            if (result.isConfirmed) {
                event.target.submit();
            }
        });
    }
    function clearInput() {
        document.getElementById('locationInput').value = 'All Locations';
        document.getElementById('searchInput').value = '';
        document.getElementById('hiddenSubmit').click();
    }</script>

