@page
@model MetaX.Pages.Admin.Event.IndexModel
@{

    ViewData["Title"] = "Etkinlik Yönetimi";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<div class="container float-start">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-left">Etkinlik Yönetimi</h2>
        </div>
    </div>

    <div class="row mt-4 justify-content-end">
        <div class="col-2 text-right align-self-end">
            <a href="/Admin/Event/Create" class="btn btn-success">
                <i class="fas fa-plus"></i> Yeni Event Ekle
            </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Etkinlik ismi">
        </div>
        <div class="col-3">
            <input type="text" id="locationInput" class="form-control" placeholder="Lokasyon">
        </div>
        <div class="col-2">
            <a href="#" class="btn btn-primary w-100">
                <i class="fas fa-search"></i> Ara
            </a>
        </div>
        <div class="col-auto">
            <button type="button" onclick="clearInput()" class="btn btn-outline-dark">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">İsim</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Lokasyon</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eventModel in Model.EventListing)
                    {
                        <tr>
                            <td>@eventModel.Title</td>
                            <td>@eventModel.Date.ToShortDateString()</td>
                            <td>@eventModel.Location</td>
                            <td>
                                <a asp-page="./Update" asp-route-id="@eventModel.EventID" class="btn btn-sm btn-primary">Edit</a>
                                <a asp-page="./Delete" asp-route-id="@eventModel.EventID" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>function clearInput() {
        document.getElementById('locationInput').value = '';
        document.getElementById('searchInput').value = '';
    }</script>
